<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div class="header">
        <div class="headerLink">
    <a href="/" class="homeworkLink"> <img src="/images/paper.svg" alt="paper" height="20px"> Homework</a>
    <a href="/work" class="workLink"><img src="/images/briefcase.svg" alt="work" height="20px" > Work</a>
    </div>
    <h1>TO-DO LIST</h1>
    </div>

    <div class="container">
        <div class="pad">
    <h2><%= dayOfWeek%>, <%= monthOfYear %>, <%= dateOfMonth %></h2>
    
