.container {
    display: flex;
    flex-direction: column;
    /* border: 10px solid black; */
    /* height: 500px; */
    position: relative;
    top: 90px;
    justify-content: center;
    align-items: center;
    
}

body{
    background-color:  #FFBF34;
    font-family: 'Comic Neue', cursive;
    font-size: medium;
    padding: 0;
    margin: 0;
}

button{
    padding: 0;
    border: none;
    background: none;
}

.toDoList{
    display: flex;
    width: 280px;
}

.toDoContent{
    /* border: 10px solid red; */
    width: 250px;
    display: flex;
    gap: 8px;
}



ul {
    padding: 0;
}

.pencil{
    height: 150px;
    position: relative;
    left: 1050px;
    bottom: 500px;
}

.eraser{
    height: 150px;
    position: relative;
    bottom: 100px;
}

.briefcase{
    height: 150px;
    position: relative;
    bottom: 100px;
    left: 200px;
    transform: rotate(45deg);
}

.ruler{
    height: 150px;
    position: relative;
    bottom: 500px;
    right: 50px;
}

.pen{
    height: 100px;
    position: relative;
    bottom: 500px;
    right: 50px;
}

.pad{
    /* border: 10px solid red; */
    /* height: 300px;
    width: 300px; */
    box-shadow: 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #F5F5DC;
    border-radius: 20px;
    min-width: 300px;
    width: 80%;
    max-width: 400px;
    min-height: 600px;
    border: 4px solid;
    overflow: hidden;
}

#todo:checked+label {
    color: black;
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

.header{
    /* border: 10px solid red; */
    display: flex;
    padding: 20px 0px 20px 0px;
    background-color:  #ffc74f;

}

.headerLink{
    /* border: solid 10px red; */
    display: flex;
    width: 630px;
    gap: 20px;
    /* justify-content: space-around; */
    padding: 0px 8px;
    
}

.homeworkLink:hover{
    color: #ffffff;
}

.workLink:hover{
    color: #ffffff;
}


a, u {
    text-decoration: none;
    color: black;
  }

  footer{
    /* border: 10px solid red; */
    display: flex;
    padding: 20px 0px 20px 0px;
    background-color:  #ffc74f;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

input {
    border:0;
    border-bottom: 2px solid #fdb377;
    outline:0;
    background-color: transparent;
}
input:focus {
    outline:none!important;
}